@model IEnumerable<task5.Models.Student>

<h1>Students</h1>

<p>
    <a href="/Student/Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
            <td>
                <!-- Дополнительные действия -->
            </td>
        </tr>
    }
    </tbody>
</table>